## '''Exercise 1: (Score : 1) Create a numpy array containing the numbers from 1 to 10, and then reshape it to a 2x5 matrix. Exercise 2: (Score : 1) Create a numpy array containing the numbers from 1 to 20, and then extract the elements between the 5th and 15th index. Exercise 3: (Score : 2) Create a Pandas series with the following data: {'apples': 3, 'bananas': 2, 'oranges': 1}. Then, add a new item to the series with the key 'pears' and the value 4. Exercise 4: (Score : 2) Create a dataframe with the following columns: name, age, and gender. The dataframe should have 10 rows of data. Exercise 5: (Score : 1) Add a new column to the data frame created in question 1, called occupation. The values for this column should be Programmer, Manager, and Analyst, corresponding to the rows in the dataframe. Exercise 6: (Score : 1) Select the rows of the dataframe where the age is greater than or equal to 30. Exercise 7: (Score : 2) Convert this dataframe to a csv file and read that csv file, finally display the contents.'''

### Exercise 1

In [3]:
import numpy as np
s=np.array(range(1,11))
print(s)

[ 1  2  3  4  5  6  7  8  9 10]

In [5]:
h=s.reshape(2,5)
h

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

### Exercise 2

In [8]:
d=np.array(range(1,21))
e=d[5:16]
print(f"The array :{d},\nThe array after extraction of index 5 to 15 index including them :{e}")

The array :[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20],
The array after extraction of index 5 to 15 index including them :[ 6  7  8  9 10 11 12 13 14 15 16]

### Exercise 3

In [12]:
import pandas as pd
c={'apples': 3, 'bananas': 2, 'oranges': 1}
i=pd.Series(c)
print(f"Series :\n{i}")

Series :
apples     3
bananas    2
oranges    1
dtype: int64

In [14]:
i["pears"]=4
print(f"New updated :\n{i}")

New updated :
apples     3
bananas    2
oranges    1
pears      4
dtype: int64

### Exercise 4

In [17]:
num_rows=10
data = {
     "Name":np.random.choice(['Alice', 'Bob', 'Charlie', 'David', 'Eve'], num_rows),
      "Age":np.random.randint(18,50,num_rows),
      "Gender":np.random.choice(["M","F"],num_rows)}
z=pd.DataFrame(data)
print(z)

      Name  Age Gender
0      Bob   32      M
1      Bob   30      F
2    Alice   33      M
3    David   40      M
4      Eve   27      F
5      Eve   45      F
6      Eve   36      M
7  Charlie   19      F
8      Bob   33      F
9    David   30      F

### Exercise 5

In [20]:
z["occupation"]=np.random.choice(["Programmer","Manager" ,"Analyst"],num_rows)
print(z)

      Name  Age Gender  occupation
0      Bob   32      M     Manager
1      Bob   30      F     Manager
2    Alice   33      M     Manager
3    David   40      M  Programmer
4      Eve   27      F  Programmer
5      Eve   45      F     Analyst
6      Eve   36      M     Analyst
7  Charlie   19      F     Analyst
8      Bob   33      F     Analyst
9    David   30      F  Programmer

### Exercise 6

In [23]:
print(z[z["Age"]>=30])

    Name  Age Gender  occupation
0    Bob   32      M     Manager
1    Bob   30      F     Manager
2  Alice   33      M     Manager
3  David   40      M  Programmer
5    Eve   45      F     Analyst
6    Eve   36      M     Analyst
8    Bob   33      F     Analyst
9  David   30      F  Programmer

### Exercise 7

In [26]:
z.to_csv('data.csv',index=False)
y=pd.read_csv('data.csv')
print(f"display the conten :\n{y}")

display the conten :
      Name  Age Gender  occupation
0      Bob   32      M     Manager
1      Bob   30      F     Manager
2    Alice   33      M     Manager
3    David   40      M  Programmer
4      Eve   27      F  Programmer
5      Eve   45      F     Analyst
6      Eve   36      M     Analyst
7  Charlie   19      F     Analyst
8      Bob   33      F     Analyst
9    David   30      F  Programmer